<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- <script>
	$(document).ready(function() {
		$('#userId').keypress(
			$.ajax(
				url:"/realtimeUserIdCheck",
				type:'post',
				data:{"userId":$('#userId').val()},
				success : function(data){
	                $("#resultOfIdCheck").html(data);
	            },
	            error : function(data){
	            	 $("#resultOfIdCheck").html(data);
	            }
			)
		);	
	});
</script> -->
<head>
    <meta charset="UTF-8"/>
    <title>Save Customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/add-customer-style.css}" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>CRM - Customer Relationship Manager</h2>
        </div>
    </div>
    <div id="container">
        <div id="content">
            <h3>Save Customer</h3>

            <form action="" th:action="@{saveCustomer}" th:object="${customer}" method="post">
			    <p> User ID  : <input type="text" id="userId" th:field="*{user_id}"/></p>	
			    <p style="color:red;" id ="resultOfIdCheck"></p>
			    <p style="color:red;" th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">Home_tel Error</p>
                <p> firstName : <input type="text" th:field="*{firstName}" /></p>
                <p> lastName : <input type="text" th:field="*{lastName}" /></p>
                <p> email : <input type="text" th:field="*{email}" /></p>
                <p> home_tel : <input type="text" th:field="*{home_tel}" /></p> <p style="color:red;" th:if="${#fields.hasErrors('home_tel')}" th:errors="*{home_tel}">Home_tel Error</p> 
                <p> mobile_tel : <input type="text" th:field="*{mobile_tel}" /></p> <p style="color:red;" th:if="${#fields.hasErrors('mobile_tel')}" th:errors="*{mobile_tel}">Mobile_tel Error</p>
                <p> <input type="submit" value="Save" class="save"/></p>
                <input type="hidden" th:field="*{id}" />
            </form>
			
       
            <div style="clear: both;"></div>
            <p>
                <a href="/customer/list">Back to List</a>
            </p>
        </div>
    </div>
</body>

<script>
    $('#userId').keyup(function()
    {
	    $.ajax
        ({
            url:'./realtimeUserIdCheck',
            type:'get',
            data:{"userId":$('#userId').val()},
            success : function(data)
            {
                $('#resultOfIdCheck').text(data);
            },
            error : function(data)
            {
            	$('#resultOfIdCheck').text(data);
            }
        })
    })
</script>

</html>